@import "tailwindcss";

@theme {
  --color-background: var(--color-zinc-200);
  --color-foreground: var(--color-zinc-700);
  --color-primary: var(--color-indigo-600);
  --color-destructive: var(--color-red-600);
  --color-warning: var(--color-orange-600);
  --color-shadow: rgba(0, 0, 0, 0.15);
  --color-highlight: var(--color-white);
  --shadow-raised: 2px 2px 6px var(--color-shadow),
    -2px -2px 6px var(--color-highlight), inset 0px 0px 0px var(--color-shadow),
    inset 0px 0px 0px var(--color-highlight);
  --shadow-inset: inset 1px 1x 2px var(--color-shadow),
    inset -1px -1px 6px var(--color-highlight),
    inset 2px 2px 6px var(--color-shadow),
    inset -2px -2px 6px var(--color-highlight);
  --color-muted: var(--color-zinc-300);
  --color-muted-foreground: var(--color-zinc-600);
}

@layer theme {
  .dark {
    --color-background: var(--color-zinc-900);
    --color-foreground: var(--color-zinc-100);
    --color-primary: var(--color-indigo-600);
  }
}

@layer base {
  html,
  body {
    @apply bg-background text-foreground;
  }
}
